@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --vermelho: #E50914;
    --preto:  #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 60px;
}

body {
    background-color: var(--preto);
    font-family: 'Segoe UI';
    color: white;
}

header {
    position: fixed;
    width: 100%;
    transition: background-color 1s ease-out;
}

header .container {
    font-size: 14px;
    height: 68px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    margin-right: 24px;
}

header .logo {
    margin-top: 3px;
    color: var(--vermelho);
    font-size: 32px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

header nav a {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 15px;
    font-family: Arial;
}

header nav a:hover {
    color: #b3b3b3;
}

header nav a img {
    height: 17px;
}

#icones-direita {
    margin-left: auto;
}

/* FIM DAS CONFIGURAÇÕES DO HEADER */

/* Filme principal */


.filme-principal {
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url(../img/fundo-padrao.jpg);
    background-size: cover;
    width: 100%;
    aspect-ratio: calc(16/9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.botao {
    border: none;
    border-radius: 6px;

    padding: 12px 26px;
    margin-right: 8px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Segoe UI';
    letter-spacing: .5px;
}

.botao i {
    margin-right: 10px;
}

.botao#assistir {
    background-color: white;
}

.botao#assistir:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.botao#mais-info {
    background-color: rgba(100, 100, 100, 0.6);
    color: white;
}

.botao#mais-info:hover {
    background-color: rgba(100, 100, 100, 0.4);
    cursor: pointer;
}


.filme-principal .info {
    max-width: 50%;
}

/* FIM DO FILME PRINCIPAL */

/* CARROSSEIS */

.container h4 {
    font-size: 26px;
    margin-bottom: 8px;
}

.item {
    /* height: 400px; */
    aspect-ratio: calc(2/3);
}
.item img {
    height: 100%;
    width: 100%;
}


.carrossel-filmes.container {
    margin-top: 12px;
}